.main-content{
	position:absolute;
	background-color: #ECF0F8;
	width: 100%;
	top: 112px;
	left: 0px;
}

.about-text{
	font-family: calibri;
	font-weight: normal;
	color: black;
	font-size: 1.4vw;
	padding-top: 2vw;
	padding-bottom: 5vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

@media screen and (max-width: 1024px) {

	.main-content {top: 80px;}
}

/* Tablets (low-resolution) in PC */
@media only screen and (max-width: 767px){

	.about-text{
		font-size: 3vw;
	}
}

/* Mobiles in PC */
@media only screen and (max-width: 480px){

	.about-text{
		font-size: 3.8vw;
		padding-top: 3vw;
	}
}

/* Mobiles in devices */
@media only screen and (max-device-width: 480px){
	
	.about-text{padding-top: 5vw;}
}