div.gallery {
    border: 1px solid #ccc;
    flex-basis: 20%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.box_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
    div.gallery {
        flex-basis: 33.33333%;
    }
}

@media only screen and (max-width: 480px) {
    div.gallery {
        flex-basis: 50%;
    }
}