.main-content{
	position:absolute;
	background-color: #ECF0F8;
	width: 100%;
	top: 112px;
	left: 0px;
}

.container {
	font-family: calibri;
	font-weight: normal;
	font-size: 1.4vw;
	padding-top: 2vw;
	padding-bottom: 5vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

.paginate { padding: 0; margin: 0;}

.paginate > li { 
	list-style: none; 
	padding: 1.2vw 2vw; 
	border: 1px solid #ACB4C4;; 
	margin: 10px 0; 
	background-color: #ACB4C4;
	border-radius: 5px;
	font-size: 1.4vw;
}

.paginate-pagination ul {
	margin: 1vw 0;
	padding: 0;
	list-style: none;
}

.paginate-pagination ul:after {
	content: ' ';
	display: table;
	clear: both;
}

.paginate-pagination ul > li {
	float: left;
	margin-right: 3px;
}

.paginate-pagination ul > li > a.page {
	display: block;
	height: 32px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #0D76B7;
	background: white;
	text-decoration: none;
	cursor: pointer;
	color: white;
	background-color: #0D76B7;
	font-size: 16px;
}

.paginate-pagination ul > li > a.page:hover { opacity: 0.6; }
.paginate-pagination ul > li > a.page.active { opacity: 0.6; cursor: default; }

.paginate-pagination ul > li > a.page-next.deactive,
.paginate-pagination ul > li > a.page-prev.deactive { opacity: 0.6; cursor: default; }

h3 {margin-top: 0.1vw; margin-bottom: 0.6vw;}

@media screen and (max-width: 1024px) {

		.main-content {top: 80px;}
}

/* Tablets (low-resolution) in PC */
@media only screen and (max-width: 767px){

	.container{
		font-size: 3vw;
	}

	.paginate > li { 
		font-size: 3vw;
		padding: 2.5vw 4vw; 
	}
}

/* Mobiles in PC */
@media only screen and (max-width: 480px){

	.container{
		font-size: 3.8vw;
		padding-top: 3vw;
	}
	.paginate > li { 
		font-size: 3.8vw;
		padding: 3vw 4vw; 
	}
	.copyright-mobile{font-size: 12px;}
	.mob-link-fb{top: 4vw;}
	.mob-link-yt{top: 4vw;}
	.mob-link-em{top: 4vw;}
}

/* Mobiles in devices */
@media only screen and (max-device-width: 480px){
	
	.about-text{padding-top: 5vw;}
	h3 {margin-bottom: 1.3vw;}
}